# General
.env
*.log

# Frontend Specific
/frontend/node_modules
/frontend/dist
/frontend/.env.local
/frontend/.env.example
# Backend Specific
/backend/node_modules
/backend/build
/backend/.env
/backend/.env.example

# IDE Specific
*.md
newUi.json
ReadmeUI.json
CHANGELOG.md
# Ignore Markdown files
*.md


# Ignore environment variable files
.env
.env.*
